.featuredWidget {
  box-sizing: border-box;
  width: 280px;
  height: 400px;
  display: block;
  margin: 0px;
  padding: 0px;

  background: rgba(0, 255, 252, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(0, 255, 252, 1);

  transition: all ease-in-out 100ms;
}

.featuredWidget__preview {
  width: 100%;
  height: calc(100% / 2);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 5px solid transparent;
  box-sizing: border-box;
}

.featuredWidget__title {
  box-sizing: border-box;
}

.featuredWidget__githublink {
  display: block;
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation: marquee infinite;
  color: aqua;
}

.featuredWidget:hover {
  transform: scale(1.1);
  z-index: 1;
}
