$screenWidth: 5120;

@font-face {
  font-family: "Afacad Flux";
  src: url("../../../public/fonts/AfacadFlux-Regular.woff") format(woff);
}

@function renderStars($amount, $color) {
  $returnVal: "#{random($screenWidth)}px #{random($screenWidth)}px #{$color}";
  @for $i from 2 through $amount {
    $returnVal: "#{$returnVal} , #{random($screenWidth)}px #{random($screenWidth)}px #{$color}";
  }

  @return unquote($returnVal);
}

$shadows-tiny: renderStars(100, "#00FFCC");
$shadows-small: renderStars(700, "#FF4DFF");
$shadows-medium: renderStars(200, "#A64DFF");
$shadows-big: renderStars(100, "#3A68E8");

.swiper-vertical{
  animation: floatAround 45s linear infinite;
}

* {
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  background: rgb(15, 0, 77);
  background: radial-gradient(circle, rgb(3, 0, 17) 0%, rgb(7, 0, 12) 100%);
  background-attachment: fixed;
  font-family: "Afacad Flux", Arial, Helvetica;
  color: white;
  height: fit-content;
  overflow: hidden;
}

.App {
  -webkit-perspective: 1px;
  perspective: 1px;
  max-width: 1000px;
  padding: 15px;
  display: flex;
  align-items: center;
  z-index: 999;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.stars {
  z-index: 2;
  border: 1px solid red;
  background: transparent;
  position: absolute;
}

.stars1 {
  width: 1.5px;
  height: 1.5px;
  box-shadow: $shadows-small;
  animation: starMove 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;

    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  box-shadow: $shadows-medium;
  animation: starMove 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;

    box-shadow: $shadows-medium;
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  box-shadow: $shadows-big;
  animation: starMove 200s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;

    box-shadow: $shadows-big;
  }
}

.stars4 {
  width: 1px;
  height: 1px;
  box-shadow: $shadows-tiny;
  animation: starMove 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;

    box-shadow: $shadows-tiny;
  }
}

.app__section {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: visible;
}

.app__main-text {
  font-size: 13em;
  text-align: center;
  text-wrap: nowrap;
  animation: floatAround linear infinite 25s;
}

.name {
  animation: floatAround linear infinite 45s;
}

.occupation {
  animation: floatAround linear infinite 35s;
}

@keyframes starMove {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes floatAround {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(15px) translateY(15px);
  }
  50% {
    transform: translateX(-15px) translateY(-15px);
  }
  75% {
    transform: translateX(15px) translateY(-15px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
