$screenWidth: 7000;

@function renderStars($amount){
  $returnVal: '#{random($screenWidth)}px #{random($screenWidth)}px #3A68E8';
  @for $i from 2 through $amount{
    $returnVal: '#{$returnVal} , #{random($screenWidth)}px #{random($screenWidth)}px #40A4FF';
  }

  @return unquote($string: $returnVal)
}

$shadows-small: renderStars(700);
$shadows-medium: renderStars(400);
$shadows-big: renderStars(300);

* {
  padding: 0;
  border: 0;
}

html {
  height: 200%;
}

body {
  background: rgb(15, 0, 77);
  background: radial-gradient(circle, rgb(7, 0, 34) 0%, rgb(19, 0, 32) 100%);
  background-attachment: fixed;
}

.App{
  -webkit-perspective: 1px;
  perspective: 1px;
}

.stars{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
    
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}
    
.stars2{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  -webkit-transform: translateZ(-6px) scale(5);
  transform: translateZ(-6px) scale(5);
    
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
    
.stars3{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
    
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
